<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
	  <add key="Path" value="server=127.0.0.1;UID=root;pwd=p@ssw0rd;database=eProcure;Allow User Variables=True"/>
	  <add key="eProcure" value="server=192.168.2.238;UID=root;pwd=coll@393;database=SSO;Allow User Variables=True"/>
	  <add key="SSO" value="server=192.168.2.238;UID=root;pwd=coll@393;database=eProcure;Allow User Variables=True"/>
	  <add key ="LIMS" value ="Provider=oraoledb.oracle;User ID=LVISKADBA;Password=lviskasb2w;Data Source=LVISKA"/>

	  <add key="eProcurementINIPath" value="C:\PROJECTS\AGORA.P2P.2019\AGORA.P2P.2019\Agora Enhanced Performance-02\Agora Enhanced Performance\Agora\BillingASP\eProcurement.ini"/>

    <add key="HubAdminEmail" value="Hub Administrator &lt;plexform@collexe.asia&gt; "/>
    <add key="MailServer" value="mail@collexe.asia"/>
    <add key="MailServerPort" value="1025"/>

    <add key="MailServerAcct" value="plexform@collexe.asia"/>
    <add key="MailServerAcctP" value="cxi@123"/>
    <add key="MailServerAcct2" value="plexform@collexe.asia"/>
    <add key="MailServerAcctP2" value="cxi@123"/>
    <add key="MailServerAcct3" value="plexform@collexe.asia"/>
    <add key="MailServerAcctP3" value="cxi@123"/>

    <add key="EmailToHubAdmin" value="plexform@collexe.asia"/>
    <add key="EmailccTo" value="plexform@collexe.asia"/>
  </appSettings>
  <runtime>
      <gcServer enabled="true"/>
	  
   </runtime>
</configuration>
